In [9]:
import pandas as pd
import numpy as np 
import matplotlib as plt
import seaborn as sns
import sklearn

In [10]:
data = pd.read_csv("spam.csv", encoding='latin-1')

In [11]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [12]:
filtered = (data['Unnamed: 4']).value_counts().to_dict()

In [13]:
filtered

{'GNT:-)"': 2,
 ' just Keep-in-touch\\" gdeve.."': 1,
 ' Never comfort me with a lie\\" gud ni8 and sweet dreams"': 1,
 ' CALL 2MWEN IM BK FRMCLOUD 9! J X\\""': 1,
 ' one day these two will become FREINDS FOREVER!"': 1}

In [14]:
data.drop('Unnamed: 2' , axis=1)
data.drop('Unnamed: 3' , axis=1)
data.drop('Unnamed: 4' , axis=1)

,v1,v2,Unnamed: 2,Unnamed: 3
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN
...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN

In [15]:
import pandas as pd

data = pd.read_csv("spam.csv", encoding='latin-1')
data = data[['v1', 'v2']]  
data.columns = ['label', 'message'] 

data.dropna(inplace=True)

print(data['label'].value_counts())

label
ham     4825
spam     747
Name: count, dtype: int64

In [16]:
import re
import string



def clean_text(text):
    text = text.lower() 
    text = re.sub(r'\d+', '', text) 
    text = text.translate(str.maketrans('', '', string.punctuation)) 
    text = re.sub(r'\s+', ' ', text).strip()  
    return text



data.columns = ['label', 'text']
data['text'] = data['text'].apply(clean_text)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=3000)
X = vectorizer.fit_transform(data['text']).toarray()

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

data['label'] = data['label'].map({'ham': 0, 'spam': 1})

X_train, X_test, y_train, y_test = train_test_split(X, data['label'], test_size=0.2, random_state=42)


model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.9641255605381166
              precision    recall  f1-score   support

           0       0.96      1.00      0.98       965
           1       1.00      0.73      0.85       150

    accuracy                           0.96      1115
   macro avg       0.98      0.87      0.91      1115
weighted avg       0.97      0.96      0.96      1115